In [ ]:
pip install prettytable

In [13]:
import pandas as pd
url = "https://download.bls.gov/pub/time.series/sa/sa.series"
url_data = pd.read_table(url,sep='\t')
url_data.head(10)

dat_url="https://download.bls.gov/pub/time.series/sa/sa.data.0.Current"
bls_data = pd.read_table(dat_url,sep='\t')
bls_data.head(10)

           series_id  year period   value footnote_codes
0  SAS0100000000001   1995    M01  1793.5
1  SAS0100000000001   1995    M02  1794.7
2  SAS0100000000001   1995    M03  1795.5
3  SAS0100000000001   1995    M04  1797.8
4  SAS0100000000001   1995    M05  1799.1
5  SAS0100000000001   1995    M06  1798.9
6  SAS0100000000001   1995    M07  1801.4
7  SAS0100000000001   1995    M08  1806.8
8  SAS0100000000001   1995    M09  1808.8
9  SAS0100000000001   1995    M10  1809.4

In [15]:
bls_2021=bls_data[bls_data['year']==1995]
bls_2021.head()


url_data.keys()

url_data_2021 = url_data[url_data['year']==2020]
url_data_2021.head()

NameError: name 'year' is not defined

In [25]:
import requests
import json
import prettytable
import pprint
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUSR0000SA0'],"startyear":"2020", "endyear":"2022"})

p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
pprint.pprint(json_data)
print("received json data")
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","periodName","value"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        periodName=item['periodName']
        value = item['value']
        print(item['year'],",",item['periodName'],",",item['value'])
#        footnotes=""
#        for footnote in item['footnotes']:
#            if footnote:
#                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,periodName,value])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

{'Results': {'series': [{'data': [{'footnotes': [{}],
                                   'latest': 'true',
                                   'period': 'M11',
                                   'periodName': 'November',
                                   'value': '278.880',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M10',
                                   'periodName': 'October',
                                   'value': '276.724',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M09',
                                   'periodName': 'September',
                                   'value': '274.138',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M08',
                                   'periodName': 'August',
                                   'value': '273.012',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '272.265',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '270.981',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '268.551',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '266.832',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '264.793',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '263.161',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '262.231',
                                   'year': '2021'},
                                  {'footnotes': [{}],
                                   'period': 'M12',
                                   'periodName': 'December',
                                   'value': '261.560',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M11',
                                   'periodName': 'November',
                                   'value': '260.927',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M10',
                                   'periodName': 'October',
                                   'value': '260.462',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M09',
                                   'periodName': 'September',
                                   'value': '260.149',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M08',
                                   'periodName': 'August',
                                   'value': '259.511',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M07',
                                   'periodName': 'July',
                                   'value': '258.604',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M06',
                                   'periodName': 'June',
                                   'value': '257.282',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M05',
                                   'periodName': 'May',
                                   'value': '255.942',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M04',
                                   'periodName': 'April',
                                   'value': '256.192',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M03',
                                   'periodName': 'March',
                                   'value': '257.989',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M02',
                                   'periodName': 'February',
                                   'value': '258.824',
                                   'year': '2020'},
                                  {'footnotes': [{}],
                                   'period': 'M01',
                                   'periodName': 'January',
                                   'value': '258.687',
                                   'year': '2020'}],
                         'seriesID': 'CUSR0000SA0'}]},
 'message': ['No Data Available for Series CUSR0000SA0 Year: 2022'],
 'responseTime': 193,
 'status': 'REQUEST_SUCCEEDED'}
received json data
2021 , November , 278.880
2021 , October , 276.724
2021 , September , 274.138
2021 , August , 273.012
2021 , July , 272.265
2021 , June , 270.981
2021 , May , 268.551
2021 , April , 266.832
2021 , March , 264.793
2021 , February , 263.161
2021 , January , 262.231
2020 , December , 261.560
2020 , November , 260.927
2020 , October , 260.462
2020 , September , 260.149
2020 , August , 259.511
2020 , July , 258.604
2020 , June , 257.282
2020 , May , 255.942
2020 , April , 256.192
2020 , March , 257.989
2020 , February , 258.824
2020 , January , 258.687